[submodule "akretion/intrastat-extrastat1"]
	path = akretion/intrastat-extrastat1
	url = git@github.com:akretion/intrastat-extrastat.git
	branch = 15-mig-intrastat_base

[submodule "akretion/intrastat-extrastat2"]
	path = akretion/intrastat-extrastat2
	url = git@github.com:akretion/intrastat-extrastat.git
	branch = 15-mig-intrastat_product

[submodule "akretion/intrastat-extrastat3"]
	path = akretion/intrastat-extrastat3
	url = git@github.com:akretion/intrastat-extrastat.git
	branch = 15-mig-product_harmonized_system
